<% let bodyContent = ''; %>
<% paket.forEach(item => { %>
  <% bodyContent += `
  <li>${item.nama}: Rp.${item.harga}</li>
  `; %>
<% }) %>

<%- include('../master', 
{title: title, body: bodyContent
})
%>
